DATABASE_URL=postgresql+psycopg://strava:strava@localhost:5433/strava

STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=

SECRET_KEY=change-me
STRAVA_VERIFY_TOKEN=change-me

FRONTEND_ORIGIN=http://localhost:5173
